<app-header *ngIf="isHeaderFooter"></app-header>
<div id="blog" class="our-blog section bottom-margin" >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInLeft bounceIn" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Check Out What Is <em>Trending</em> In Our Latest <span>News</span></h2>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight bounceIn" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="top-dec">
            <img src="assets/images/blog-dec.png" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 wow fadeInLeft bounceIn" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="left-image">
            <a href="#"><img style="height: 60vh;" src="{{ latestBlogs[0].imgSrc }}" alt="Blogs"></a>
            <div class="info">
              <div class="inner-content">
                <ul>
                  <li><i class="fa fa-calendar"></i> {{ latestBlogs[0].dateOfCreatingBlog }}</li>
                  <li><i class="fa fa-users"></i> Dope Digital</li>
                  <li><i class="fa fa-folder"></i> Branding</li>
                </ul>
                <a ><h4>{{ latestBlogs[0].title }}</h4></a>
                <p>{{ latestBlogs[0].categoryId }}</p>
                <div class="main-blue-button">
                  <a (click)="onNavigate(latestBlogs[0])">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
          
        <div class="col-lg-6 wow fadeInRight bounceIn" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="right-list">
            <ul *ngFor="let blog of latestBlogs.slice(1)">
                <hr>
              <li>
                <div class="left-content align-self-center" (click)="onNavigate(blog)">
                  <span><i class="fa fa-calendar"></i>{{ blog.dateOfCreatingBlog }}</span>
                  <a ><h4 [innerHtml]="blog.title"></h4></a>
                  <!-- <p [innerHtml]="blog.categoryId"></p> -->
                </div>
                <div class="right-image">
                  <a ><img [src]="blog.imgSrc" alt="blog"></a>
                </div>
              </li>
             
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer *ngIf="isHeaderFooter"></app-footer>