<!-- <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
          <p>© Copyright 2022 Dope Digital. All Rights Reserved. 
          
          <br>Developed by: <a routerLink="/" (click)="onNavigate('/')">Dope Digital</a></p>
        </div>
      </div>
    </div>
  </footer> -->

  <footer id="footer" class="bg-one">
    <div class="top-footer" animation="fadeInUp" delay="100" duration="800" offset="100" triggerOnce="true">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <h3>about</h3>
                    <p> Dope Digital was founded in December 2016.<br> We offer internet marketing, digital marketing<br> and social media management. </p>
                </div>
                <!-- End of .col-sm-3 -->

                <div class="col-sm-4 col-md-4 col-lg-4">
                    <ul>
                        <li>
                            <h3>Our Services</h3>
                        </li>
                        <li><a routerLink="/logo-design" (click)="onNavigate('/logo-design')">Graphic Design</a></li>
                        <li><a routerLink="/web-design" (click)="onNavigate('/web-design')">Web Design</a></li>
                        <li><a routerLink="/youtube-marketing" (click)="onNavigate('/youtube-marketing')">Youtube Marketing</a></li>
                        <li><a routerLink="/social-media-management" (click)="onNavigate('/social-media-management')">SMM</a></li>
                    </ul>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4">
                    <ul>
                        <li>
                            <h3>Connect with us Socially</h3>
                        </li>
                        <li><a target="blank" href="https://www.facebook.com/DopeDigital.in">Facebook</a></li>
                        <li><a target="blank" href="https://www.instagram.com/dopedigital/?hl=en">Instagram</a></li>
                        <li><a target="blank" href="https://in.linkedin.com/company/dopedigitalindia">Linkedin</a></li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

            </div>
        </div>
        <!-- end container -->
    </div>
    <div class="footer-bottom">
        <h5>Copyright 2022. All rights reserved.</h5>
        <h6>Design and Developed by <a routerLink='/' (click)="onNavigate('/')">Dope Digital</a></h6>
    </div>
</footer>